ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

div.header,
div.footer {
    background-color: #1f2937;
}

.header a,
.header p{
    font-size: 18px;
    color: #E5E7EB;
}

.header h1,
.header h3{
    color: #F9FAF8;
}

.header h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.header h3 {
    font-size: 24px;
}