ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

div.header,
div.footer {
    background-color: #1f2937;
}

.header a,
.header p,
.footer p {
    font-size: 18px;
    color: #E5E7EB;
}

.header h1,
.header h3{
    color: #F9FAF8;
}

.header h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.header h3 {
    font-size: 24px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px 15%;
    margin: 0;
}

body {
    margin: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar ul {
    display: flex;
    gap: 30px;
}

div.sign-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.placeholder-image {
    width: 800px;
    height: 250px;
    background-color: #9c9da0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}